<h1>Products </h1>
<div class="products">
  {{#each products}}
    <div>
      <span><b> Product:</b> {{name}}</span>
      <span><b> Price:</b> {{price}}</span>
      <span><b> Inventory:</b> {{inventory}}</span>
    </div>
  {{/each}}
</div>