<form action="/products" method='POST'>
  <input type="text" name='name' placeholder="name">
  <input type="text" name="price" placeholder="price">
  <input type="text" name="inventory" placeholder="inventory">
  <button type='submit'>submit</button>
</form>