<h1> Your Selected Product </h1>
<div class="product">
  <div>
    <span> <b> Product:</b> {{name}}</span>
    <div> </div>
    <span><b> Price:</b> {{price}}</span>
    <div> </div>
    <span><b> Inventory:</b> {{inventory}}</span>
  </div>
</div>